{{ partial "header.html" . }}

  <div class="itemcontent">
  {{ range first 8 ((where .Site.Pages "Type" "blog").GroupByDate "2006")  }}
    {{ range where .Pages ".Title" "!=" "Blogs" }}

  <div class="itemdetails">
  <h1 itemprop="headline">
      <a itemprop="mainEntityOfPage" href="{{ .Permalink }}">{{ .Title }}</a>
  </h1>
   <span class="date" itemprop="datePublished dateModified">{{ .Date.Format "2006-01-02" }}</span>
   @
   <span itemprop="keywords">
      {{ with .Params.tags }}
        {{ $sort := sort . }}
        {{ $links := apply $sort "partial" "link" "." }}
        {{ $clean := apply $links "chomp" "." }}
        {{ delimit $clean ", " }}
      {{ end }}
   </span>
  </div>
    <div class="itemcontent" itemprop="articleBody">
      {{ .Summary }}
    </div>
  <div>
    <a itemprop="mainEntityOfPage" href="{{ .Permalink }}">Weiterlesen...</a>
    </br>
    </br>
  </div>

    {{ end }}
  {{ end }}

{{ partial "footer.html" . }}
