<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}</title>


    <!-- Meta data for search engines -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="description" content="{{ .Site.Params.Description | safeHTML }}">
    <meta name="keywords" content="{{ .Site.Params.Keywords }}" />
    <meta name="author" content="{{ .Site.Params.Author }}" />
    <meta name="robots" content="index, follow">
    <meta content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}" property="og:title">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ .Site.Params.Twitter }}">
    <meta name="twitter:creator" content="{{ .Site.Params.Twitter }}">
    <meta name="twitter:title" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}">
    <meta name="twitter:url" content="{{ .Permalink }}">
    <meta name="twitter:image" content="{{ .Site.BaseURL }}/img/paper-logo.png">
    <meta name="twitter:description" content="{{if .IsPage}}{{ .Summary }}{{else}}{{.Site.Params.Description}}{{end}}">

		<!-- icons -->
		<link rel="apple-touch-icon" href="{{ .Site.BaseURL }}/img/apple-touch-icon-72x72.png">
		<link rel="shortcut icon" href="{{ .Site.BaseURL }}/img/favicon.ico">

		<link rel="apple-touch-icon" sizes="57x57" href="{{ .Site.BaseURL }}/img/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="{{ .Site.BaseURL }}/img/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ .Site.BaseURL }}/img/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ .Site.BaseURL }}/img/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ .Site.BaseURL }}/img/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ .Site.BaseURL }}/img/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ .Site.BaseURL }}/img/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ .Site.BaseURL }}/img/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/img/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="{{ .Site.BaseURL }}/img/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}/img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="{{ .Site.BaseURL }}/img/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}/img/favicon-16x16.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">

		<!-- Override CSS file - add your own CSS rules -->
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/styles.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/syntax.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/mono-blue.css">
    <script src="{{ .Site.BaseURL }}/js/highlight.min.js"></script>
    <link href='/fonts/font.css' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="Feed for {{ .Site.Title }}" href="/index.xml" />
    <script>hljs.initHighlightingOnLoad();</script>
	</head>

	<body>
		<div class="container">
			<div class="header">
        <a href="{{ .Site.BaseURL }}">
        <img width=250 height=80 src="{{ .Site.BaseURL }}/images/banner2.svg">
        <!-- <br> -->
        <!-- {{ .Site.Params.Description | safeHTML }}</a> -->
			</div>
