{{ partial "header.html" . }}

  {{ if eq .Section "photos" }}
  <div class="itemdetails color-photos">
  {{ else if eq .Section "sammelsurium" }}
  <div class="itemdetails color-sammelsurium">
  {{ else if eq .Section "blog" }}
  <div class="itemdetails color-blog">
  {{ else }}
  <div class="itemdetails">
  {{ end }}
  <h1 itemprop="headline">
      <a itemprop="mainEntityOfPage" href="{{ .Permalink }}">{{ .Title }}</a>
  </h1>
   <span class="date" itemprop="datePublished dateModified">{{ .Date.Format "2006-01-02" }}</span>
   @
   <span itemprop="keywords">
      {{ with .Params.tags }}
        {{ $sort := sort . }}
        {{ $links := apply $sort "partial" "link" "." }}
        {{ $clean := apply $links "chomp" "." }}
        {{ delimit $clean ", " }}
      {{ end }}
      {{ .Params.section }}
   </span>

   <div class="hidden" itemprop="author publisher">
    <span itemscope itemtype="http://schema.org/Person">
    <span itemprop="name">{{ .Site.Params.Author }}</span>
  </div>
  </div>

  <div class="itemcontent" itemprop="articleBody">
    {{ .Content }}

{{ partial "footer.html" . }}
