/*
vim:ts=4:sw=4:
*/


@font-face {
    font-family: "Wremena";
    src: url("/fonts/WremenaRegular.woff") format('woff');
}

@font-face {
    font-family: "Wremena";
    src: url("/fonts/WremenaBold.woff") format('woff');
    font-weight: bold;
}

html {
    font-family: Wremena;
	overflow: -moz-scrollbars-vertical !important;
	font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html, body {
	font-size: 19px;
    color: white;
}

h1, h2, h3, h4 {
    color: white;
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

body {
	background-color: #282a36;
	line-height: 1.55em;
	margin: 0;
	padding: 10px;
	padding-top: 0;
}

figcaption {
	text-align: center;
    font-style: italic;
}

a, a:visited {
	color: white;
}

/* Blog */

a.menubar-active-blog {
    border-bottom: 4px solid #50fa7b;
}

a.color-blog {
    color: #50fa7b !important;
}

div.color-blog {
    border-left: 5px solid #50fa7b !important;
}

/* Photos */

a.menubar-active-photos {
    border-bottom: 4px solid #bd93f9;
}

a.color-photos {
    color: #bd93f9 !important;
}

div.color-photos {
    border-left: 5px solid #bd93f9 !important;
}

/* Sammelsurium */

a.menubar-active-sammelsurium {
    border-bottom: 4px solid #ff79c6;
}

a.color-sammelsurium {
    color: #ff79c6 !important;
}

div.color-sammelsurium {
    border-left: 5px solid #ff79c6 !important;
}

/* projects */

a.menubar-active-projects {
    border-bottom: 4px solid #f1fa8c;
}

a.color-projects {
    color: #f1fa8c !important;
}

div.color-projects {
    border-left: 5px solid #f1fa8c !important;
}

/* about */

a.menubar-active-about {
    border-bottom: 4px solid white;
}

a.color-about {
    color: white !important;
}

div.color-about {
    border-left: 5px solid white !important;
}

/* Code */

pre {
	background-color: #1a1818;
	padding: 0.7em;
	overflow: auto;
    color: white;
    line-height: 1em;
}

code {
	font-family: monospace;
	font-size: 11pt;
	background-color: #1a1818;
    color: white;
    padding: 3px;
}

/* Ignore padding for code blocks inside pre */
pre code {
    padding: 0px;
}

/* anti spam from the 90s */
code.rev {
  direction: rtl;
  unicode-bidi:bidi-override;
}

/* hide elements from being displayed */
.hidden {
  display: none
}

span.timestamp-list {
  min-width: 45px;
  display: inline-block;
  max-width: 45px;
  align: right;
}

/* Quotes */

blockquote {
	border-left: 4px solid #ccc;
	padding-left: 1em;
}

header {
    color: #f8f8f2;
	margin-bottom: 30px;
	margin-top: 10px;
	padding: 14px 0 0 0;
    font-size: 1em;
}

header a {
    text-decoration: none;
}

header img {
    width: 100%;
    height: auto;
}

header .bar {
	color: #ccc;
	vertical-align: bottom;
}

header h2 {
	font-weight: bold;
	display: inline;
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: auto;
}

footer {
	color: #6272a4;
	margin-bottom: 2em;
    padding-top: 0.8em;
	font-size: 0.9em;
}

footer a,
footer a:visited {
	color: #6272a4;
}

div.itemcontent {
	margin-top: 0.75em;
	padding-right: 10px;
}

div.itemcontent img {
	-ms-interpolation-mode: bicubic;
    max-width: 100%;
}

body.item header,
body.item div#contentwrapper {
	margin-left: auto;
	margin-right: auto;
	width: 665px;
}

div.itemwrapper h1 {
    color: white;
	font-weight: bold;
    font-size: 30px;
	padding: 0;
	margin: 0;
}

div.itemwrapper h1 a {
    color: white;
	text-decoration: none;
}

div.itemdetails {
    border-left: 5px solid gray;
	font-size: 0.9em;
	color: #6272a4;
	margin: 0;
	margin-top: 2px;
	padding: 0 0 0 10px;
}

div.itemdetails a {
	color: #6272a4;
	text-decoration: none;
}

/* responsive adjustments */
@media only screen and (max-width: 640px) {
  div#contentwrapper {
    max-width: 100%;
  }

  div#sitewrapper {
    max-width: auto;
  }

  header {
    max-width: 100%;
  }
}
