<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1><a href="/"><img src="/images/noqqe.png"></a><h1>
          {{ with .Site.Params.Description }} {{.}} {{end}} <br> — AT&T Unix Policy (1984)
    </div>

    <ul class="sidebar-nav">
      <li><a href="/">Home</a> </li>
      {{ range .Site.Menus.main }}
        <li><a href="{{.Url}}"> {{ .Name }} </a></li>
      {{end}}
    </ul>

    <p>&copy;{{ with .Site.Params.Copyright }}{{.}}{{ else }} {{.Now.Format "2006"}}. Some rights reserved. {{end}}</p>
  </div>
</div>
