{{ partial "header.html" . }}

    <div id="contentwrapper">
      <div class="itemwrapper">
      <h1>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h1>

      <div class="itemdetails">
       <span itemprop="datePublished dateModified" class="date">{{ .Date.Format "2006-01-02" }}</span> @
          {{ range .Params.tags}}
            <a href="/tags/{{ . | urlize }}" class="boldlink">{{ . }}</a>
          {{ end }}
      </div>

      <div class="itemcontent">
        {{ .Content }}

{{ partial "footer.html" . }}
