{{ partial "head.html" . }}
<body class="theme-base-0b">

{{ partial "sidebar.html" . }}

    <div class="content container">
    <div class="post" itemscope itemtype="http://schema.org/BlogPosting" >
    <h1 itemprop="name headline">{{ .Title }}</h1>
      <span class="post-date" itemprop="datePublished">{{ .Date.Format "2006-01-02" }}</span>
      <div itemprop="articleBody">
      {{ .Content }}
      </div>

      <span class="meta">Categories:
      {{ range .Params.categories}}
        <a href="/categories/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
      </span>
      <br/>
      <span class="meta" itemprop="keywords">Tags:
      {{ range .Params.tags }}
        <a href="/tags/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
      </span>
    </div>
    {{ partial "isso.html" . }}
  </div>

{{ partial "foot.html" . }}
