{{ partial "head.html" . }}
<body class="theme-base-0b">

{{ partial "sidebar.html" . }}

    <div class="content container">
    <div class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <h1 itemprop="name headline"><a href="{{ .Permalink }}" itemprop="mainEntityOfPage">{{ .Title }}</a></h1>
      <span class="post-date" itemprop="datePublished dateModified">{{ .Date.Format "2006-01-02" }}</span>
      <div itemprop="articleBody">
      {{ .Content }}
      </div>

      <span class="meta">Categories:
      {{ range .Params.categories}}
        <a href="/categories/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
      </span>
      <br/>
      <span class="meta">Tags:
        <span itemprop="keywords">
          {{ range .Params.tags }}
            <a href="/tags/{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </span>
      </span>
    </div>
    {{ partial "isso.html" . }}
  </div>

{{ partial "foot.html" . }}
