{{ partial "header.html" . }}

    <div class="itemcontent">
    {{ range (where .Site.Pages "Type" "photos").GroupByDate "2006"  }}
    <p>Fotografie. Poste hier Sachen die ich gelernt habe (Technik),
    interessant fand (Referenzen, Fotografen) oder selbst gemacht habe (Alben,
    Fotos). Besonders Analog hat es mir angetan.</p>
    <h2>Photos {{ .Key }}</h2>
    <ul>
      {{ range where .Pages ".Title" "!=" "Photos" }}
      <li>
          <span class="timestamp-list">{{ .Date.Format "02.01" }}</span>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
    {{ end }}

{{ partial "footer.html" . }}
