{{ partial "header.html" . }}

  <div class="itemcontent">
  {{ range (where .Site.Pages "Type" "photos").GroupByDate "2006"  }}
    {{ range where .Pages ".Title" "!=" "Photos" }}
  <div class="indexitem">
      <a href="{{ .Permalink }}">{{ .Title }}</a><br/>
      <div class="itemdetails">
     {{ .Date.Format "2006-01-02" }} @
      {{ with .Params.tags }}
        {{ $sort := sort . }}
        {{ $clean := apply $sort "chomp" "." }}
        {{ delimit $clean ", " }}
      {{ end }}
  </div>
  </div>
    {{ end }}
  {{ end }}
{{ partial "footer.html" . }}
