{{ partial "header.html" . }}

    <div class="itemcontent">
    <h2>Operating Systems</h2>
    <ul>
    {{ range where .Data.Pages.ByTitle "Type" "sammelsurium" }}
      {{ if in .Params.tags "OS" }}
      <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    {{ end }}
    </ul>

    <h2>Databases</h2>
    <ul>
    {{ range where .Data.Pages.ByTitle "Type" "sammelsurium" }}
      {{ if in .Params.tags "Databases" }}
      <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    {{ end }}
    </ul>

    <h2>Software</h2>
    <ul>
    {{ range where .Data.Pages.ByTitle "Type" "sammelsurium" }}
      {{ if in .Params.tags "Software" }}
      <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    {{ end }}
    </ul>

    <h2>Programming</h2>
    <ul>
    {{ range where .Data.Pages.ByTitle "Type" "sammelsurium" }}
      {{ if in .Params.tags "Programming" }}
      <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    {{ end }}
    </ul>

    <h2>Filesystems</h2>
    <ul>
    {{ range where .Data.Pages.ByTitle "Type" "sammelsurium" }}
      {{ if in .Params.tags "Filesystems" }}
      <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    {{ end }}
    </ul>

    <h2>AWS</h2>
    <ul>
    {{ range where .Data.Pages.ByTitle "Type" "sammelsurium" }}
      {{ if in .Params.tags "AWS" }}
      <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    {{ end }}
    </ul>

    <h2>HowTos</h2>
    <ul>
    {{ range where .Data.Pages.ByTitle "Type" "sammelsurium" }}
      {{ if in .Params.tags "HowTos" }}
      <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    {{ end }}
    </ul>

{{ partial "footer.html" . }}
