{{ partial "header.html" . }}

  <div class="itemcontent">

    <h2>Operating Systems</h2>
    {{ range where .Data.Pages.ByTitle "Type" "sammelsurium" }}
      {{ if in .Params.tags "OS" }}
  <div class="indexitem">
      <a href="{{ .Permalink }}">{{ .Title }}</a><br/>
      <div class="itemdetails">
     {{ .Date.Format "2006-01-02" }} @
      {{ with .Params.tags }}
        {{ $sort := sort . }}
        {{ $clean := apply $sort "chomp" "." }}
        {{ delimit $clean ", " }}
      {{ end }}
  </div>
  </div>
    {{ end }}
  {{ end }}


    <h2>Databases</h2>
    {{ range where .Data.Pages.ByTitle "Type" "sammelsurium" }}
      {{ if in .Params.tags "Databases" }}
  <div class="indexitem">
      <a href="{{ .Permalink }}">{{ .Title }}</a><br/>
      <div class="itemdetails">
     {{ .Date.Format "2006-01-02" }} @
      {{ with .Params.tags }}
        {{ $sort := sort . }}
        {{ $clean := apply $sort "chomp" "." }}
        {{ delimit $clean ", " }}
      {{ end }}
  </div>
  </div>
    {{ end }}
  {{ end }}

    <h2>Software</h2>
    {{ range where .Data.Pages.ByTitle "Type" "sammelsurium" }}
      {{ if in .Params.tags "Software" }}
  <div class="indexitem">
      <a href="{{ .Permalink }}">{{ .Title }}</a><br/>
      <div class="itemdetails">
     {{ .Date.Format "2006-01-02" }} @
      {{ with .Params.tags }}
        {{ $sort := sort . }}
        {{ $clean := apply $sort "chomp" "." }}
        {{ delimit $clean ", " }}
      {{ end }}
  </div>
  </div>
    {{ end }}
  {{ end }}

    <h2>Programming</h2>
    {{ range where .Data.Pages.ByTitle "Type" "sammelsurium" }}
      {{ if in .Params.tags "Programming" }}
  <div class="indexitem">
      <a href="{{ .Permalink }}">{{ .Title }}</a><br/>
      <div class="itemdetails">
     {{ .Date.Format "2006-01-02" }} @
      {{ with .Params.tags }}
        {{ $sort := sort . }}
        {{ $clean := apply $sort "chomp" "." }}
        {{ delimit $clean ", " }}
      {{ end }}
  </div>
  </div>
    {{ end }}
  {{ end }}

    <h2>Puppet</h2>
    {{ range where .Data.Pages.ByTitle "Type" "sammelsurium" }}
      {{ if in .Params.tags "Puppet" }}
  <div class="indexitem">
      <a href="{{ .Permalink }}">{{ .Title }}</a><br/>
      <div class="itemdetails">
     {{ .Date.Format "2006-01-02" }} @
      {{ with .Params.tags }}
        {{ $sort := sort . }}
        {{ $clean := apply $sort "chomp" "." }}
        {{ delimit $clean ", " }}
      {{ end }}
  </div>
  </div>
    {{ end }}
  {{ end }}

    <h2>Filesystems</h2>
    {{ range where .Data.Pages.ByTitle "Type" "sammelsurium" }}
      {{ if in .Params.tags "Filesystems" }}
  <div class="indexitem">
      <a href="{{ .Permalink }}">{{ .Title }}</a><br/>
      <div class="itemdetails">
     {{ .Date.Format "2006-01-02" }} @
      {{ with .Params.tags }}
        {{ $sort := sort . }}
        {{ $clean := apply $sort "chomp" "." }}
        {{ delimit $clean ", " }}
      {{ end }}
  </div>
  </div>
    {{ end }}
  {{ end }}


    <h2>HowTos</h2>
    {{ range where .Data.Pages.ByTitle "Type" "sammelsurium" }}
      {{ if in .Params.tags "HowTos" }}
  <div class="indexitem">
      <a href="{{ .Permalink }}">{{ .Title }}</a><br/>
      <div class="itemdetails">
     {{ .Date.Format "2006-01-02" }} @
      {{ with .Params.tags }}
        {{ $sort := sort . }}
        {{ $clean := apply $sort "chomp" "." }}
        {{ delimit $clean ", " }}
      {{ end }}
  </div>
  </div>
    {{ end }}
  {{ end }}

{{ partial "footer.html" . }}
